.div__radio__input--container{
    display: flex;
}

.label__container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 10px;
    font-family: var(--rm);
    letter-spacing: 2px;
}

.radio__input {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    flex-direction: column;
}


.input {
    appearance: none;
    margin: 6px;
    width: 24px;
    height: 24px;
    border-radius: 12px;
    cursor: pointer;
    box-shadow: hsla(0, 0%, 100%, 0.15) 0 1px 1px,
    inset hsla(0, 0%, 0%, 0.5) 0 0 0 1px;
    background-color: hsla(0, 0%, 0%, .2);
    transition: background-position 0.15s cubic-bezier(0.8, 0, 1, 1),
    transform 0.25s cubic-bezier(0.8, 0, 1, 1);
    outline: none;
    background-repeat: no-repeat;
}

.input.green {
    background-image: radial-gradient(
    hsla(118,100%,90%,1)0%,
    hsla(118,100%,70%,1)15%,
    hsla(118,100%,60%,0.3)28%,
    hsla(118,100%,30%,0)70%
    );
}

.input.red {
    background-image: radial-gradient(
    hsla(0,100%,90%,1)0%,
    hsla(0,100%,70%,1)15%,
    hsla(0,100%,60%,0.3)28%,
    hsla(0,100%,30%,0)70%
    );
}

.input.gray {
    background-image: radial-gradient(
    hsla(360,20%,90%,1)0%,
    hsla(118,20%,70%,1)15%,
    hsla(118,20%,60%,0.3)28%,
    hsla(118,20%,30%,0)70%
    );
}

.input:checked {
    transition: background-position .2s .15s cubic-bezier(0,0,0.2,1) transform .25s cubic-bezier(0,0,0.2,1);
}

.input:active{
    transform: scale(1.5);
    transition: transform .1s cubic-bezier(0,0,0.2,1);
}

.input:checked ~ input{
    color:blue;
}

.input, input:active{
    background-position: 0 24px;
}

.input:checked{
    background-position: 0 0;
}

.input:checked ~ .input, input:checked ~ .input:active{
    background-position: 0px -24;
}

.aliveActive {
    font-weight: 900;
    color: rgb(132, 255, 0);
    text-shadow: 0 0 10px rgb(132, 255, 0), 0 0 10px rgb(132, 255, 0);
    transition: all 0.5s ease;
  }
  
  .deadActive {
    font-weight: 900;
    color: rgb(255, 0, 0);
    text-shadow: 0 0 10px rgb(255, 0, 0), 0 0 10px rgb(255, 0, 0);
    transition: all 0.5s ease;
  }
  
  .unknownActive {
    font-weight: 900;
    color: rgb(154, 154, 154);
    text-shadow: 0 0 10px rgb(154, 154, 154), 0 0 10px rgb(154, 154, 154);
    transition: all 0.5s ease;
  }