.card__container {
    display: flex;
    margin: 10px;
    background: linear-gradient(var(--animateDeg), var(--hot-magenta),var(--light-blue), var(--brightBlue));
    flex-basis: 20rem;
    flex-grow: 1;
    border-radius: 20px;
    overflow: hidden;
    animation: rotate 5s linear infinite;
    color:var(--brightBlue);
}

.image__container{
    width: 33.33%;
    height: 200px 
}

.image__container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info__container{
    padding: 5px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    margin: 0 0 0 5px;
}

.icon{
    display: inline-block;
    background: white;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    margin: 0 10px 0 0;
}

